@using MB.LibraryRss.WebUi.Infrastructure.Helpers
@model MB.LibraryRss.WebUi.ViewModel.HomeIndexViewModel

@{
  ViewBag.Title = "New Titles";
}

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th colspan="4">
        <h3>
          @ViewBag.Title   
          
          <small>
            @if (Model.TitleResults == null || !Model.TitleResults.Any())
            {
              @Model.Message@(". ")

              @Html.ActionLink("Try refreshing.", "RefreshTitles", "Admin")
            }
            else
            {
              @Model.Message
            }
          </small>                            
        </h3>             
      </th>
    </tr>  
  </thead>
  <tbody>    
  </tbody>
</table>

<div id="list-wrapper" style="margin-top: -22px; font-size: 11px;">
  <div id="title-table"></div>
</div> 

@section scripts
{
  <script>
    $(document).ready(function() {      
      var gridHeight = $(window).height() - 276;

      var initGrid = function (data) {
        $("#title-table").kendoGrid({
          dataSource: {
            data: data,
            schema: {
              type: "json",
              model: {
                fields: {
                  Title: { type: "string" },
                  Author: { type: "string" },
                  Id: { type: "string" },
                  Url: { type: "string" },
                  DatePublished: { type: "date" },
                  Content: { type: "string" },
                  Isbn: { type: "string" },
                  SubjectTermsString: { type: "string" },
                  ImageUrl: { type: "string" },
                  ShelfLocation: { type: "string" },
                  SmallImageUrl: { type: "string" },
                  ShelfLocationScore: { type: "number" },
                  IsNonFiction: { type: "string" }
                }
              }
            }
          },
          height: gridHeight,
          scrollable: true,
          sortable: true,
          filterable: { extra: false },                    
          navigatable: true,
          reorderable: true,
          columns: [{
            field: "Title",
            template: "<a target='_' href='#=Url#'>#=Title#</a>"
          }, {
            field: "Author"
          }, {
            field: "SubjectTermsString",
            title: "Subject"
          }, {
            field: "ShelfLocation",
            title: "Shelf Location"
          }, {
            field: "IsNonFiction",
            title: "Non-Fiction"
          }, {
            field: "ShelfLocationScore",
            title: "Score"            
          }
          /*
            , {
            field: "SmallImageUrl",
            title: "Image",
            template: "<img src='#=SmallImageUrl#'>"
          }
          */
          ]
        });
      };

      initGrid(@Model.TitleResults.ToJson());
    });
  </script>
}
